header {
    background-color: darkblue;
    color: whitesmoke;
    text-align: center;
    height: 90px;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
}

.sidebar {
    background-color: lightgray;
    height: 100%;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
}
/* 
.div.card-body {
    padding: 5px;
    background-color: #007bff;
    color: whitesmoke;
} */